* {
  box-sizing: border-box;
}
body {
  background-color: #2d2d2d;
}

#lightgallery { //row
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;

  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
  }

  .grid-item {
    position: relative;
    display: block;
    margin-top: 8px;
    vertical-align: middle;
    min-height: 24px;

    background-color: #545454;
    overflow: hidden;
    cursor: pointer;

    .info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);

      // Font.
      font-size: 16px;
      color: #fff;

      .message, .author, .date  {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0 4px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .author, .date {
        width: 50%;

        visibility: hidden;
        margin-bottom: -18px;
        font-size: 12px;

        -webkit-transition: margin 0.15s ease 0s;
        -moz-transition: margin 0.15s ease 0s;
        -o-transition: margin 0.15s ease 0s;
        transition: margin 0.15s ease 0s;
      }
      .date {
        color: #fff;
        text-align: right;
      }
    }

    .fas {
      position: absolute;
      top: calc(50% - (28px / 2));
      left: calc(50% - (28px / 2));
      color: #fff;
      font-size: 28px;
      opacity: 0;

      -webkit-transition: opacity 0.15s ease 0s;
      -moz-transition: opacity 0.15s ease 0s;
      -o-transition: opacity 0.15s ease 0s;
      transition: opacity 0.15s ease 0s;
    }

    img {
      width: 100%;
      max-width:100%;
      max-height:100%;

      -webkit-transition: transform 0.15s ease 0s;
      -moz-transition: transform 0.15s ease 0s;
      -o-transition: transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    &:hover {
      .fas {
        //display: block;
        opacity: 1;
        z-index: 100;
      }

      img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        filter: brightness(70%);
      }

      .author, .date {
        visibility: visible;
        margin-bottom: 0px;
      }
    }
  }
}
