* {
  box-sizing: border-box;
}
body {
  background-color: #2d2d2d;
}

.grid {
  padding: 10px;
  width: 100%;
  height: 100%;

  .grid-item.not-loaded {
    display: none;
  }
  .grid-item {
    display: inline-block;
    width: calc(25% - 13px);
    float: left;
    margin-bottom: 10px;

    min-height: 24px;

    background-color: #545454;
    overflow: hidden;
    cursor: pointer;

    .info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);

      // Font.
      font-size: 16px;
      color: #fff;

      .message, .author, .date  {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0 4px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .author, .date {
        width: 50%;

        visibility: hidden;
        margin-bottom: -18px;
        font-size: 12px;

        -webkit-transition: margin 0.15s ease 0s;
        -moz-transition: margin 0.15s ease 0s;
        -o-transition: margin 0.15s ease 0s;
        transition: margin 0.15s ease 0s;
      }
      .date {
        color: #fff;
        text-align: right;
      }
    }

    .fas {
      position: absolute;
      top: calc(50% - (28px / 2));
      left: calc(50% - (28px / 2));
      color: #fff;
      font-size: 28px;
      opacity: 0;

      -webkit-transition: opacity 0.15s ease 0s;
      -moz-transition: opacity 0.15s ease 0s;
      -o-transition: opacity 0.15s ease 0s;
      transition: opacity 0.15s ease 0s;
    }

    img {
      width: 100%;
      max-width:100%;
      max-height:100%;

      -webkit-transition: transform 0.15s ease 0s;
      -moz-transition: transform 0.15s ease 0s;
      -o-transition: transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);

      will-change: transform;
    }

    &:hover {
      .fas {
        opacity: 1;
        z-index: 100;
      }

      img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
      }

      .author, .date {
        visibility: visible;
        margin-bottom: 0px;
      }
    }
  }
}
